section.about
   .container
      .about__inner
         h1.about__title.title
            | О компании WLE
         ul.about__list
            li.about__item
               .about__item-content
                  h2.about__item-title
                     | Что такое WLE?
                  p.about__text.
                     WLE - это площадка, на которую мастера со всей Украины выгружают свои изделия. Все началось с небольшой группы столяров любителей, а в итоге переросло в большое сообщество мастеров со всей страны. Кстати, если вы тоже занимаетесь рукоделием и ищете куда выставить свои изделия - вы можете присоедениться к этому сообществу.
               .about__item-img
                  img.lazy(src="./", data-src="./img/about/about-img-1.jpg", alt="Человек в телефоне, который вращает 3D коробку")
            li.about__item
               .about__item-content
                  h2.about__item-title
                     | Приложение WLE. Как с нами сотрудничать?
                  .about__item-info
                     p.about__item-text.
                        Мастера, которые состоят в сообществе, ведут свои магазины через специальное приложение. Чтобы получить доступ к приложению нужно отправить заявку на нашу почту с темой «Хочу в WLE».
                     h3.about__item-info-title
                        | В письме должны быть:
                     ul.about__item-list.list.list--unordered
                        li.about__item-list-item
                           | Краткое описание чем вы занимаетесь, что производите
                        li.about__item-list-item
                           | Фото-примеры ваших работ
                        li.about__item-list-item
                           | Контакты для обратной связи
                     span
                        | После этого мы свяжемся с вами и обсудим условия сотрудничества
                        | <br/> Наша&nbsp;почта:
                        a.about__item-mail(href="mailto:wleproduction@gmail.com")  wleproduction@gmail.com
               .about__item-img
                  img.lazy(src="./", data-src="img/about/about-img-2.jpg", alt="Подписание договора о сотрудничестве и пожатие руки работодателя")
