.menu {
   display: flex;
   align-items: center;

   &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }

   &__item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 16px;
      padding: 5px 0;

      &:last-child {
         margin-right: 0;
      }

      @media (any-hover: hover) {
         &:hover {
            .menu__item-arrow {
               transform: rotate(180deg);
            }

            .menu__sublist {
               opacity: 1;
               transform: translate(0, 0);
               pointer-events: all;
            }
         }
      }
   }

   &__link {
      color: var(--color-primary);

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__item-arrow {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1px;
      width: 14px;
      height: 7px;
      background-image: url("../img/svg/arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out;

      &[aria-expanded="true"] {
         transform: rotate(180deg);
      }
   }

   &-sublist {
      position: absolute;
      left: -10px;
      top: 100%;
      z-index: 10;
      flex: 1 1 100%;
      border-radius: 5px 0 20px;
      padding: 10px;
      width: max-content;
      max-width: 250px;
      box-shadow: 5px 5px 10px 1px var(--color-grey);
      background-color: var(--color-white);
      opacity: 0;
      transform: translate(5px, 5px);
      transition: max-height 0.3s ease-in-out, transform 0.3s ease-in, opacity 0.3s ease-in;
      will-change: max-height;
      pointer-events: none;

      &__item {
         margin-bottom: 10px;

         &:last-child {
            margin-bottom: 0;
         }
      }

      &__link {
         color: var(--color-blue-text);

         @extend .--hover-underline;
      }

      &.is-active {
         opacity: 1;
         transform: translate(0, 0);
         pointer-events: all;
      }
   }

   &__burger {
      display: none;
   }
}

@media (max-width: $md) {
   .menu {
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      flex-direction: column;
      align-items: flex-start;
      overflow: auto;
      padding: var(--header-height) var(--content-offset) $offset-small;
      width: 100%;
      max-height: 100vh;
      background-color: var(--color-white);
      opacity: 0;

      // set the menu height to 100% of the window height(100vh) minus the header height(80px)
      transition: left 0.4s ease, opacity 0.3s ease;

      &__burger {
         display: initial;
      }

      &__list {
         display: flex;
         flex-flow: column nowrap;
         align-items: flex-start;
         width: 100%;
         height: 100%;
      }

      &__item {
         position: relative;
         align-items: stretch;
         margin-right: 0;
         width: 100%;

         &-arrow {
            width: 20px;
            height: 20px;
         }

         &:last-child {
            margin-bottom: 0;
         }
      }

      &__link {
         display: inline-block;
         flex: 1 1 auto;
         text-transform: uppercase;

         @include responsive(font-size, $font-size-middle, 24px, $xxxl, $sm);
      }

      &-sublist {
         position: static;
         overflow: hidden;
         margin: 10px 0;
         padding: 0;
         max-width: 100%;
         max-height: 0;
         box-shadow: none;
         transform: translate(0, 0);
      }

      &-sublist__link {
         font-size: $font-size-text;
         text-transform: uppercase;
         color: rgba(var(--color-primary-rgb), 0.8);
      }

      &.is-active {
         left: 0;
         opacity: 1;
      }
   }

   body.hide-scroll {
      overflow: hidden;
      padding-right: var(--scrollbar-width);
   }
}
