// @import "common/example";
@import "common/buttons";
@import "common/menu";
@import "common/inputs";
@import "common/search-form";

// ==!> Most Common styles <!==
.title {
   position: relative;
   margin: 0;
   max-width: calc(4 * var(--grid-column) + 3 * var(--grid-gap));

   @extend %font-title;
}

.text {
   margin: 0;

   @extend %font-text;
}

.--hover-underline {
   position: relative;
   transition: color 0.15s ease-in-out;

   &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: currentColor;
      transition: width 0.15s ease-in-out;
   }

   @media (any-hover: hover) {
      &:hover::before {
         width: 100%;
      }
   }
}

.main {
   margin-top: var(--header-height);
}

.discount {
   border-radius: var(--border-value);
   padding: 4px 14px;
   font-weight: 700;
   font-size: $font-size-small;
   color: var(--color-white);
   background-color: var(--color-red);
}

// ==!> Most Common styles <!==
