@mixin burger {
   position: relative;
   width: var(--burger-width);
   height: var(--burger-height);
   color: var(--burger-color);

   &::before,
   &::after {
      content: "";
      position: absolute;
      left: 0;
      border-radius: 10px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      will-change: transform;
   }

   &::before {
      top: 0;
   }

   &::after {
      top: calc(100% - 2px);
      width: 60%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
   }

   &__line {
      position: absolute;
      left: 0;
      top: 50%;
      border-radius: 10px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
   }

   &.active {
      &::before {
         top: 50%;
         transform: rotate(-45deg);
         transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      &::after {
         top: 50%;
         width: 100%;
         transform: rotate(45deg);
         transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
      }

      .burger__line {
         transform: translateX(100%) scale(0.01);
         transition: transform 0.3s ease-in-out;
      }
   }
}
