include mixin

header.header
   .container
      .header__inner
         .header__left
            nav#menu.header__menu.menu
               ul.header__menu-list.menu__list
                  li.header__menu-item.menu__item
                     a.menu__link(href='#') Украшения
                     button.menu__item-arrow.btn-reset(aria-label="Открыть список" aria-expanded='false')
                     ul.menu__sublist.menu-sublist
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Браслеты
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Серьги
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Ожерелья
                  li.header__menu-item.menu__item
                     a.menu__link(href='#') Мебель
                     button.menu__item-arrow.btn-reset(aria-label="Открыть список" aria-expanded='false')
                     ul.menu__sublist.menu-sublist
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Кровати
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Столы
                  li.header__menu-item.menu__item
                     a.menu__link(href='#') Освещение
                     button.menu__item-arrow.btn-reset(aria-label="Открыть список" aria-expanded='false')
                     ul.menu__sublist.menu-sublist
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Светильники
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Лампы
                  li.header__menu-item.menu__item
                     a.menu__link(href='#') Настенный декор
                     button.menu__item-arrow.btn-reset(aria-label="Открыть список" aria-expanded='false')
                     ul.menu__sublist.menu-sublist
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Металические вывески
                        li.menu-sublist__item
                           a.menu-sublist__link(tabindex='-1' href='#')
                              | Картины
            button.menu__burger.burger.btn-reset(aria-label='Главное меню' aria-expanded='false' aria-controls='menu')
               span.burger__line
         a.header__logo.logo(href='#')
            +svg("header__logo-img logo__image", "logo", "width: 64px; height: 32px; fill: var(--color-primary);")
         .header__right
            form.header__right-item.search-form(action='#')
               label.search-form__label
                  span.visually-hidden
                     | Введите поисковый запрос
                  button.search-form__close.btn-reset(type="button") Закрыть поиск
                  input.search-form__input.input#search-input(placeholder='Поиск товаров' name='search' type='text' required)
               button.search-form__button.btn-reset(aria-label="Искать товар")
                  +svg("search-form__icon", "search", "width: 18px; height: 18px; fill: none; stroke: var(--color-primary);")
            button.header__right-item.cart-button.btn-reset(aria-label="Корзина")
               +svg("cart-button__icon", "cart", "width: 24px; height: 24px; fill: none; stroke: var(--color-primary);")
               span.cart-button__quantity 2
            button.header__right-item.user-button.btn-reset(aria-label="Личный кабинет")
               +svg("user-button__icon", "user", "width: 24px; height: 24px; fill: none; stroke: var(--color-primary);")
