extends product_template.pug

block products_vars
   - var title = "Освещение";
   - var type = "one-two-one"; //- "one-two" | "two-one" | "one-two-one"
   -
      var slides = [
         {
            "image": "./img/lighting/lighting-img-1.jpg",
            "href": "#!",
            "title": "Минималистичная лампа c&nbsp;регулировкой&nbsp;цвета",
            "currency": "₴",
            "price": 4700,
            "old_price": null,
            "discount": null,
         },
         {
            "image": "./img/lighting/lighting-img-2.jpg",
            "href": "#!",
            "title": "Лампа из натурального грецкого <br> ореха",
            "currency": "₴",
            "price": 6700,
            "old_price": null,
            "discount": null,
         },
         {
            "image": "./img/lighting/lighting-img-3.jpg",
            "href": "#!",
            "title": "Светильник из трубы с теплым <br> светом",
            "currency": "₴",
            "price": 2350,
            "old_price": null,
            "discount": null,
         },
         {
            "image": "./img/lighting/lighting-img-4.jpg",
            "href": "#!",
            "title": `Круговая лампа с настройкой <br> подсветки`,
            "currency": "₴",
            "price": 2350,
            "old_price": null,
            "discount": null,
         },
         {
            "image": "./img/lighting/lighting-img-5.jpg",
            "href": "#!",
            "title": "Минималистичные светильники с&nbsp;регулировкой&nbsp;цвета",
            "currency": "₴",
            "price": 2500,
            "old_price": null,
            "discount": null,
         },
      ];
