doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="description" content="WLE - лучшие кофейные и журнальные столики на всю СНГ")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
      link(rel="manifest" href="favicon/site.webmanifest")
      link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
      meta(name="msapplication-TileColor" content="#ffc40d")
      meta(name="theme-color" content="#ffffff")

      title WLE

      //- includes fonts
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto&display=swap",
         rel="stylesheet")

      //- includes styles
      link(rel="stylesheet" href="css/vendor.min.css")
      link(rel="stylesheet" href="css/style.min.css")

      //- includes scripts
      script(src="js/vendor.min.js", defer)
      script(src="js/script.min.js", defer)
   body
      .site-container
         include parts/header.pug
         main.main
            include parts/hero.pug
            include parts/popular.pug
            include parts/jewelry.pug
            include parts/furniture.pug
            include parts/lighting.pug
            include parts/decoration.pug
         include parts/newsletter.pug
