extends parts/basic/head.pug

block content
   include parts/header.pug
   main.main
      h1.visually-hidden Главная страница сайта

      include parts/sections/hero.pug
      include parts/sections/popular.pug
      include parts/sections/jewelry.pug
      include parts/sections/furniture.pug
      include parts/sections/lighting.pug
      include parts/sections/decoration.pug
   include parts/newsletter.pug
   include parts/footer.pug
