@import "vars";
@import "mixins";
@import "fonts"; // is empty file
@import "settings";

// import individual blocks
@import "./components/common";

// ==!> Site Components <!==

@import "./components/header";
@import "./components/hero";
@import "./components/products";

// ==!> Site Components <!==
